<h1>Editing bill detail</h1>

<%= render "form", bill_detail: @bill_detail %>

<br>

<div>
  <%= link_to "Show this bill detail", @bill_detail %> |
  <%= link_to "Back to bill details", bill_details_path %>
</div>
