<div id="<%= dom_id bill %>">
  <p>
    <strong>Date:</strong>
    <%= bill.date %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= bill.total_amount %>
  </p>

  <p>
    <strong>Total products:</strong>
    <%= bill.total_products %>
  </p>

</div>
