<h1>Editing saledetail</h1>

<%= render "form", saledetail: @saledetail %>

<br>

<div>
  <%= link_to "Show this saledetail", @saledetail %> |
  <%= link_to "Back to saledetails", saledetails_path %>
</div>
