<!-- app/views/home/index.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Welcome to RAJA Electonic Equipment</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="bheader">
    <h1 class="store-name">Welcome to RAJA Electonic Equipment</h1>
    <p class="description">Your One-Stop Shop for Electronic Equipment</p>
  </div>

  
  <div class="contact">
    <h2>Contact Us</h2>
    <p>If you have any questions or need assistance, feel free to contact us:</p>
    <p>Email: ghufar@gmail.com</p>
    <p>Phone: 03038789990 </p>
  </div>
</body>
</html>
